<!DOCTYPE html>
<html>
<head>
   <title>post rate result
   </title>
</head>

<body>
  <h1>Post Rate</h1>

  <p>  this is a price of sending a <%= type %> of <%= weight%> ounces is: $<%= price %>. </p> 


</body>

</html>
